.places__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 26px auto 0;
    max-width: 484px;
}

.places__paragraph:first-of-type{
    margin: 0 auto 0;
}


@media screen and (max-width: 1024px){
    .places__paragraph {
        font-size: 16px;
        margin: 25px auto 0;
        max-width: 456px;
    }

    .places__paragraph:first-of-type{
        font-size: 16px;
        margin: 0 auto 0;
        max-width: 456px;
    }
}

@media screen and (max-width: 768px){
    .places__paragraph {
        font-size: 16px;
        margin: 25px auto 0;
        max-width: 352px;
    }

    .places__paragraph:first-of-type{
        font-size: 16px;
        margin: 0 auto 0;
        max-width: 352px;
    }
}

@media screen and (max-width: 670px){
    .places__paragraph {
        margin: 25px auto 0;
        width: auto;
        max-width: calc(100% - 32px);
    }

    .places__paragraph:first-of-type {
        margin: 0 auto 0;
        max-width: calc(100% - 32px);
    }
}