.places__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 26px 0 0;
}

.places__paragraph:first-of-type{
    margin: 0;
}

@media screen and (max-width: 768px){
    .places__paragraph {
        font-size: 16px;
        margin: 25px 0 0;
    }
}

@media screen and (max-width: 670px){
    .places__paragraph {
        margin: 25px 5% 0;
        width: auto;
    }

    .places__paragraph:first-of-type {
        margin: 0 5% 0;
    }
}