.lead {
    margin: 0 auto 92px;
    width: fit-content;
    display: block;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1024px){
    .lead {
    max-width: 928px;
    }
}

@media screen and (max-width: 768px){
    .lead {
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 670px){
    .lead {
        margin: 0 auto 64px;
    }
}