.intro {
    margin: 0 0 92px;
    position: relative;
    max-width: fit-content;
    float: left;
}

@media screen and (max-width: 768px){
    .intro {
    margin: 0 auto 88px;
    max-width: 720px;
    width: 100%;
    }
} 