.cover__overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #2A2C2F30;
    transition: .5s ease-in-out; /* не по брифу, но по красоте*/ 
}

.cover__overlay:hover {
    background: #2A2C2F80;
}