.footer {
    display: flex;  
    position: relative;
    margin: 0 48px 24px;
    justify-content: space-between;
}

@media screen and (max-width: 768px){
    .footer {
    margin: 0 24px 24px;
    }
}

@media screen and (max-width: 670px){
    .footer {
        flex-direction: column;
        margin: 0 0 24px;
    }
}