.places__website {
    display: flex;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto auto 48px;
    max-width: 456px;
    max-height: min-content;
}

@media screen and (max-width: 1024px){
    .places__website {
        margin: auto auto 32px;
    }
}

@media screen and (max-width: 768px){
    .places__website {
        margin: auto 0 32px;
        max-width: 352px;
    }
}

@media screen and (max-width: 670px){
    .places__website {
        margin: 0 auto 32px;
        max-width: calc(100% - 32px);
    }
}